{% extends 'catalogo/base.html' %}
{% load static %}
{% block title %}Sobre Nosotros - {{ block.super }}{% endblock %}
{% block content %}
    <h1 class="mb-4">Sobre Nuestro Museo</h1>
    <div class="row">
        <div class="col-md-7">
            <h2>Nuestra Historia</h2>
            <p>Aquí va un texto detallado sobre la historia, misión y visión del museo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            <h2>Horarios de Atención</h2>
            <ul>
                <li>Lunes a Viernes: 9:00 AM - 6:00 PM</li>
                <li>Sábados: 10:00 AM - 8:00 PM</li>
                <li>Domingos: Cerrado</li>
            </ul>
        </div>
        <div class="col-md-5">
            <img src="{% static 'catalogo/museo_nosotros.jpg' %}" class="img-fluid rounded shadow-sm" alt="Fachada de Nuestro Museo">
        </div>
    </div>
{% endblock %}